body {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 300;
	background-image: repeating-linear-gradient(90deg, #fff, #fff 20px, #fbfbfb 20px, #fbfbfb 40px);
}

.header__logo__img:hover{
  transform: scale(1.2);
  transition: .2s;
}

.header__logo__text:hover{
  transform: scale(1.2);
  transition: .2s;
}

.carousel-item img{
  height: 550px;
}

header{
  background: #fff;
	box-shadow: 0px 0px 70px rgba(102, 102, 102, 0.2);
}

.loginMinicart{
  margin-left: -10px;
}

.mainLogin{
  background: #fff;
	box-shadow: 0px 0px 70px rgba(102, 102, 102, 0.2);
  padding: 15px 40px 15px 40px;
} */

footer{
  background: #fff;
	box-shadow: 0px 0px 70px rgba(102, 102, 102, 0.2);
}

.footer__address{
  margin-top: 1px;
}

/* CONTACT-INDEX */
.form-contact{
  padding: 20px;
  width: 450px;
  margin: auto;
	background: #fff;
	box-shadow: 0px 0px 70px rgba(102, 102, 102, 0.2);
  justify-self: center;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
  font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

#contact {
  background: #fff;
  padding: 25px;
  margin: 60px 0;
}

#contact h3 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #fff;
  margin: 0 0 5px;
  padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: rgb(121, 118, 118);
  color: #fff;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#contact button[type="submit"]:hover {
  color: #fff;
  text-decoration: underline;
  cursor: pointer;
}

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.copyright {
  text-align: center;
}

#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}

*****************
.container-login {
	width: 90%;
	max-width: 1200px;
	margin: 20px auto;
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(5, auto);
	grid-template-areas:
		'header			header   	header'
		'form		form 	form'
    'form		form 	form'
		'form		form 	form'
    'section		section 	section'
		'footer	 		footer 		footer';
}

.form-register{
  grid-area: form;
  padding: 20px;
	background: #fff;
	box-shadow: 0px 0px 70px rgba(102, 102, 102, 0.2);
}

.form-register {
  width: 400px;
  background: #fff;
  padding: 30px;
  margin: auto;
  margin: 50px auto;
  border-radius: 4px;
  color: #000;
}

.form-register h4 {
  font-size: 22px;
  margin-bottom: 20px;
}

.controls {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  border-radius: 4px;
  border: 1px solid #000;
  font-size: 15px;
}

.form-register .select {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  font-size: 15px;
  text-align: left;
}

.form-register p {
  height: 40px;
  text-align: center;
  font-size: 15px;
  line-height: 40px;
}

.form-register a {
  color: #000;
  text-decoration: none;
}

.form-register a:hover {
  color: #000;
  text-decoration: underline;
}

.checkbox {
  margin: 6px;
}

.form-register .buttons {
  width: 100%; 
  background: rgb(121, 118, 118);
  border: none;
  padding: 12px; 
  color: #000; 
  font-weight: bold;
  font-size: 16;
  margin: 16px 0;
}

.form-register .reset-btn {
  width: 20%;
  background: rgb(121, 118, 118);
  border: none;
  padding: 8px;
  color: #000;
  font-weight: bold;
  font-size: 16;
  margin: 16px 0;
}

.form-register .buttons:hover {
  color: #000;
  text-decoration: underline;
  cursor: pointer;
}

.form-register .select {
  width: 50%;
  height: 40px;
  text-align: center;
  border-radius: 4px;
  font-size: 13px;
  border-radius: 4px;
  border: 1px solid rgb(121, 118, 118);
}